<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd">
 
	<http auto-config="true">
		<intercept-url pattern="/**" access="ROLE_USER" />
		<form-login default-target-url='/project/projects?state=EN_PROCESO&amp;responsable=&amp;client=&amp;service=&amp;orderField=DATE&amp;order=ASC'
            always-use-default-target='true' />
	</http>
	
 
	<authentication-manager>
	  <authentication-provider>
	    <password-encoder ref="passwordEncoder"/>
	    <user-service>
			<user name="elefante" password="c90ad55598da666e7277ef9a34728becd697e64a" authorities="ROLE_USER" />
	    </user-service>
	  </authentication-provider>
	</authentication-manager>
	
 
</beans:beans>